@tailwind base;
@tailwind components;
@tailwind utilities;
/* Nunca exibe barras mas mantém a rolagem funcional */
html, body {
  overflow-y: scroll; /* força rolagem ativa */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, WebKit */
}

/* Opcional: para qualquer container com overflow também */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, WebKit */
}
